.header_menu_container{
    width: 80px;
    height: 100px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header_menu_button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header_menu_bar{
    margin-top: 7px;
    margin-bottom: 7px;
    width: 80%;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
}

.header_menu_button:hover .header_menu_bar:nth-child(1){
    transform: translateX(10px);
}

.header_menu_button:hover .header_menu_bar:nth-child(2){
    transform: translateX(-10px);
}

.header_menu_button:hover .header_menu_bar:nth-child(3){
    transform: translateX(10px);
}

.header_menu_button:hover .header_menu_bar {
    opacity: 0.8;
}





@media (max-width : 600px){

    .header_menu_container{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
    }
    
    .header_menu_button{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header_menu_bar{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        height: 5px;
        background-color: #fff;
        border-radius: 10px;
    }

    /* .thumbnail_img{
        width: 400px;
        height: 100px;
        margin-left: 23px;
        margin-top: 22px;
    } */
}

@media (max-width : 450px){

    .header_menu_container{
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
    }
    
    .header_menu_button{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header_menu_bar{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        height: 5px;
        background-color: #fff;
        border-radius: 10px;
    }


}

@media (max-width : 430px){
    .header_menu_container{
        width: 30px;
        height: 40px;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
    }
    
    .header_menu_button{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header_menu_bar{
        margin-top: 3px;
        margin-bottom: 3px;
        width: 100%;
        height: 5px;
        background-color: #fff;
        border-radius: 10px;
    }
}

@media (max-width : 450px){


    .header_menu_container{
        width: 30px;
        height: 40px;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 10px;
        
    }
    
    .header_menu_button{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header_menu_bar{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        height: 5px;
        background-color: #fff;
        border-radius: 10px;
    }
}