
.header_container{
    width: 80%;
    background-color: #5e0a0a;
    height: 130px;
    border-bottom: 0.7px solid #fff;
    z-index: 2;
    position: fixed;
    top: 0;
}

.header_position{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}


.header_card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.thumbnail_img{
    width: 450px;
    height: 130px;
    margin-left: 23px;
    margin-top: 22px;
}

/* .header_menu_container{
    width: 80px;
    height: 100px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header_menu_button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header_menu_bar{
    margin-top: 7px;
    margin-bottom: 7px;
    width: 80%;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
} */

/* .header_menu_button:hover .header_menu_bar:nth-child(1){
    transform: translateX(10px);
}

.header_menu_button:hover .header_menu_bar:nth-child(2){
    transform: translateX(-10px);
}

.header_menu_button:hover .header_menu_bar:nth-child(3){
    transform: translateX(10px);
}

.header_menu_button:hover .header_menu_bar {
    opacity: 0.8;
} */



@media (max-width : 600px){
    .thumbnail_img{
        width: 350px;
        height: 100px;
        margin-left: 23px;
        margin-top: 22px;
    }
}

@media (max-width : 450px){
    .thumbnail_img{
        width: 200px;
        height: 80px;
        margin-left: 23px;
        margin-top: 22px;
    }

}

@media (max-width : 430px){
    .thumbnail_img{
        margin-left: 23px;
        margin-top: 15px;
        width: 250px;
        height: 80px;
    }
}

@media (max-width : 400px){
    .thumbnail_img{
        margin-left: 23px;
        margin-top: 11px;
        width: 200px;
        height: 50px;
    }
}