@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.category{
    list-style: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    border-bottom: 0.7px solid #fff;
    padding: 20px;
    width: 100%;
}



.category_card{
    width: 80%;
    height: 100%;
}
.category_div{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}



.category_link{
    text-decoration: none;
}

.category_name{
    opacity: 1;
    transition: all 0.3s ease;
}

.category_name:hover{
    cursor: pointer;
    opacity: 0.8;
    scale: 1.1;
}

@media (max-width : 300px){
    .category{
        list-style: none;
        color: #fff;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        border-bottom: 0.7px solid #fff;
        padding: 10px;
        width: 100%;
    }
  }