
.detail_container{
    width: 100%;
    height: 100%;

    padding-top : 180px;
    animation: fadeIn 1s ease-out forwards;
    display: flex;
    flex-direction: column;
}

.detail_imageAndInfo{
    display: flex;
    flex-direction: row;
    
}

.detail_info{
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.detail{
  margin: 20px 0;
  font-size: 25px;
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.detail_title{
  margin-left: 30px;
}

.artist{
  margin-right: 30px;
}



.detail_review{
  background-color: aliceblue;
}





@keyframes fadeIn {
    0% {
      opacity: 0;

    }
    100% {
      opacity: 1;

    }
  }